<div class="subNavbar d-none d-md-block">
  <ul class="nav d-flex">
    <li class="nav-item dropdown" *ngFor="let item of Categories">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false"><i class="{{item.icon}}"></i> {{item.main}}</a>
      <div class="shadow dropdown-menu">
        <a class="dropdown-item" href="#!" *ngFor="let sub of item.sub">{{sub}}</a>
      </div>
    </li>
  </ul>
</div>

<div class="scrollbarSubNavBar d-flex d-md-none">
  <div class="item" *ngFor="let item of Categories">
    {{item.main}}
  </div>
</div>
