.cart-container {
  width: 600px;
}

mat-sidenav-container {
  background-color: #dfdfdf75;
}

mat-sidenav {
  background-color: #ececec;
  width: fit-content;
}

.cart-header {
  height: 5em;
  background-color: white;
  box-shadow: 0 1px 15px rgba(51, 51, 51, 0.274);
  width: inherit;
}

.mat-icon-button {
  margin: 0 1ex;
}

.mat-icon-button:focus {
  outline: none;
}

.cardTitle {
  font-size: x-large;
  margin: 1ex 2ex;
  color: rgba(51, 51, 51, 0.8);
}

.checkout {
  background-color: #feee00;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5em;
}

.vl {
  height: 60%;
  border-left: 2.5px solid rgba(51, 51, 51, 0.712);
}
