<mat-sidenav-container fullscreen [hasBackdrop]="false">
  <mat-sidenav #sidenav [fixedInViewport]="true" position="end" mode="over">
    <div class="cart-container">
      <!-- ----------------------------- Cart Header ----------------------------- -->
      <div class="cart-header d-flex justify-content-between sticky-top ">
        <div class="d-flex align-items-center">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
          </button>
          <div class="vl"></div>
          <label class="cardTitle">Cart</label>
        </div>
        <div class="d-flex align-items-center p-3">
          <div class="d-flex flex-row align-items-center mr-3 mt-3">
            <p class="mr-2 h5">Total Price:</p>
            <p class="h5">{{totalPrice}}$</p>
          </div>
          <button type="button" class="checkout btn">Checkout</button>
        </div>
      </div>

      <!-- ---------------------------- cart content ----------------------------- -->
      <div class="d-flex flex-column">
        <app-ShoppingCart (total-price)="updateTotalPrice($event)"></app-ShoppingCart>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <app-navbar [drawer]="sidenav" [cart-price]="totalPrice"></app-navbar>
    <router-outlet></router-outlet>
    <app-Footer></app-Footer>


  </mat-sidenav-content>
</mat-sidenav-container>
