<h1>Address</h1>
<hr>
<form [formGroup]="resetform" (ngSubmit)="OnSubmit()">
    <div class="form-holder">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" formControlName="Address" id="Address">
        <div *ngIf="resetform.get('Address')?.invalid && resetform.get('Address')?.touched">
            <small class="text-danger">Please Enter valid Address</small>
        </div>
    </div>

    <br>
    <button type="submit" [disabled]="!resetform.valid">Submit</button>
</form>