<div class="card text-left">
  <div class="card-body">
    <section id="reviews">
      <label class="filter-label">Avg.Custom Review</label>
      <div class="d-flex flex-column">
        <!-- <bar-rating *ngFor="let rate of Rates; let i=index" (click)="filterByRate(rate)" class="rate-bar" [rate]="rate"
          [max]="5" [readOnly]="true">
        </bar-rating> -->
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          (change)="filterByRate(selectedRate)"
          class="example-radio-group"
          color="warn"
          [(ngModel)]="selectedRate"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let item of Rates"
            value="{{ item }}"
          >
            <bar-rating [rate]="item" [max]="5" [readOnly]="true"></bar-rating>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="selectedRate != 0">
        get products with {{ selectedRate }} rating
      </div>
    </section>

    <section id="brand">
      <hr />
      <label class="filter-label">Choose Brand</label>
      <form [formGroup]="brandsForm">
        <div
          formArrayName="brands"
          *ngFor="let item of brandsFormArray.controls; let i = index"
        >
          <mat-checkbox
            color="warn"
            [formControlName]="i"
            (change)="filterByBrands()"
          >
            {{ Brands[i] }}
          </mat-checkbox>
        </div>
      </form>
    </section>

    <section id="price">
      <hr />

      <div class="d-flex justify-content-between align-items-center">
        <label class="filter-label">Price</label>
        <button mat-button color="warn" (click)="filterByPrice()">Apply</button>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <mat-form-field color="warn">
          <mat-label>Min</mat-label>
          <input
            matInput
            color="warn"
            type="number"
            [formControl]="minControl"
          />
          <mat-error *ngIf="minControl.invalid">is invalid</mat-error>
        </mat-form-field>

        <mat-form-field [color]="'warn'">
          <mat-label>Max</mat-label>
          <input matInput type="number" [formControl]="maxControl" />
          <mat-error *ngIf="maxControl.invalid">is invalid</mat-error>
        </mat-form-field>
      </div>
    </section>

    <section id="color">
      <hr />
      <div class="d-flex flex-wrap">
        <button
          mat-mini-fab
          class="color-circle"
          *ngFor="let color of Colors"
          [style.backgroundColor]="color"
          (click)="filterByColor(color)"
        ></button>
      </div>
    </section>

    <section id="sizes">
      <hr />
      <label class="filter-label">Choose Sizes</label>
      <form [formGroup]="sizesForm">
        <div
          formArrayName="sizes"
          *ngFor="let item of sizesFormArray.controls; let i = index"
        >
          <mat-checkbox
            color="warn"
            [formControlName]="i"
            (change)="fiterBySizes()"
          >
            {{ Size[i] }}</mat-checkbox
          >
        </div>
      </form>
    </section>
  </div>
</div>
