<h2>Orders</h2>
<hr>
<mat-tab-group>
    <mat-tab label="Open Orders">
        <div class="text-center" style="margin-top: 10px;">
            <img class="-mvs" src="./assets/orders.svg" height="100" width="100" alt="">
            <h2 class="-pvs -fs16 -m">You have placed no orders yet!</h2>
            <p class="-pvs -ws-pl -lh-15">All your orders will be saved here for you to access their state
                anytime.</p>
            <a href="/" class="btn _prim -mtl">Continue Shopping</a>
        </div>
    </mat-tab>
    <mat-tab label="Closed Orders">
        <div class="text-center" style="margin-top: 10px;">
            <img class="-mvs" src="./assets/orders.svg" height="100" width="100" alt="">
            <h2 class="-pvs -fs16 -m">No Closed Orders to Display</h2>
            <p class="-pvs -ws-pl -lh-15">All your Closed Orders will be saved here.</p><a href="/"
                class="btn _prim -mtl">Start
                Shopping</a>
        </div>
    </mat-tab>
</mat-tab-group>