<div class="col-1"> <img src="assets/images/profile/profile.jpg" width="70" class="rounded-circle mt-2"> </div>
<div class="col-11">
    <h4>Add a comment</h4>
    <form [formGroup]="reviewForm" (ngSubmit)="OnSubmit()">
        <div class="rating">
            <input type="radio" formControlName="review" value="5" id="5">
            <label for="5">☆</label>
            <input type="radio" formControlName="review" value="4" id="4">
            <label for="4">☆</label>
            <input type="radio" formControlName="review" value="3" id="3">
            <label for="3">☆</label>
            <input type="radio" formControlName="review" value="2" id="2">
            <label for="2">☆</label>
            <input type="radio" formControlName="review" value="1" id="1">
            <label for="1">☆</label>
        </div>
        <div class="comment-area"> <textarea formControlName="comment" class="form-control"
                placeholder="what is your comment?" rows="4"></textarea> </div>
        <div class="comment-btns mt-2 mb-2">
            <div class="row">
                <div class="col-2">
                    <div class="pull-left"> <button class="btn btn-success btn-sm">Cancel</button> </div>
                </div>
                <div class="offset-1 col-3">
                    <div class="pull-right"> <button class="btn btn-success send btn-sm" type="submit">Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>