<app-navbar></app-navbar>

<!-- <main> -->
<div class="container " style="margin: 3ex 2ex 3ex 3ex;">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <!-- Section: Sidebar
            <section> -->
        <section class="filters col-md-3 mb-3">

            <!-- Section: Average -->
            <section filter="rating">
                <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

                <label for="customer-rating-4" class="z-depth-0 py-0">

                    <div class="rating  waves-light mb-0 waves-effect waves-light">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>


                </label>
                <br>
                <label for="customer-rating-4" class="z-depth-0 py-0">

                    <div class="rating  waves-light mb-0 waves-effect waves-light">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>


                </label>
                <br>
                <label for="customer-rating-4" class="z-depth-0 py-0">

                    <div class="rating  waves-light mb-0 waves-effect waves-light">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>


                </label>
                <br>
                <label for="customer-rating-4" class="z-depth-0 py-0">

                    <div class="rating  waves-light mb-0 waves-effect waves-light">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>


                </label>
            </section>
            <!-- Section: Average -->

            <!-- Section: Price -->
            <hr>
            <section class="mb-4" filter="Brand">
                <h6 class="font-weight-bold mb-3">Brand</h6>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in mb-3" id="Samsung" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Samsung</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="Samsung" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Apple</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="Samsung" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Oppo</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="Samsung" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Realme</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="Samsung" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Xiamoi</label>
                </div>
            </section>
            <!-- Section: Price -->
            <hr>
            <h6 class="font-weight-bold mb-3">Price</h6>

            <div class="slider-price d-flex align-items-center my-4">
                <span class="font-weight-normal small text-muted mr-2">$0</span>
                <form class="multi-range-field w-100 mb-1">
                    <input id="multi" class="multi-range" type="range" />
                </form>
                <span class="font-weight-normal small text-muted ml-2">$100</span>
            </div>
            <form>
                <div class="d-flex align-items-center mt-4 pb-1">
                    <div class="md-form md-outline my-0">
                        <input id="from" type="text" class="form-control mb-0">
                        <label for="form">$ Min</label>
                    </div>
                    <p class="px-2 mb-0 text-muted"> - </p>
                    <div class="md-form md-outline my-0">
                        <input id="to" type="text" class="form-control mb-0">
                        <label for="to">$ Max</label>
                    </div>
                </div>
            </form>


            <!-- Section: Size -->
            <hr>
            <!-- Section: Size -->
            <section class="mb-4">

                <h6 class="font-weight-bold mb-3">Color</h6>

                <div class="btn-group btn-group-toggle btn-color-group d-block mt-n2 ml-n2" data-toggle="buttons">
                    <label class="btn rounded-circle white border-inset-grey p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>

                    <label class="btn rounded-circle black p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                    <label class="btn rounded-circle green p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                    <label class="btn rounded-circle blue p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                    <label class="btn rounded-circle purple p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                    <label class="btn rounded-circle yellow p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                    <label class="btn rounded-circle indigo p-3 m-2">
                        <input type="checkbox" checked autocomplete="off">
                    </label>
                    <label class="btn rounded-circle red p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                    <label class="btn rounded-circle orange p-3 m-2">
                        <input type="checkbox" autocomplete="off">
                    </label>
                </div>

            </section>
            <hr>
            <section class="mb-4" filter="Brand">
                <h6 class="font-weight-bold mb-3">Storage Memory</h6>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in mb-3" id="4GB" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">4GB</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="8GB" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">8GB</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="16GB" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">16GB</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="32GB" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">32GB</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="64GB" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">64GB</label>
                </div>

            </section>
            <hr>
            <section class="mb-4" filter="Operting System">
                <h6 class="font-weight-bold mb-3">Operting System</h6>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in mb-3" id="android" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Android</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="ios" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">Ios</label>
                </div>
            </section>
            <hr>
            <section class="mb-4" filter="Brand">
                <h6 class="font-weight-bold mb-3">Display Type</h6>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in mb-3" id="amoled" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">AMOLED</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="LCD" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">LCD</label>
                </div>
                <div class="form-check pl-0 mb-3">
                    <input type="checkbox" class="filter-option form-check-input filled-in" id="OLED" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="34">OLED</label>
                </div>
            </section>

            <!-- Section: Color -->
        </section>
        <section class="product-list col-md-8 mb-3">
            <section class="mb-1">
                <app-product-layout></app-product-layout>
            </section>
        </section>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<!-- </main> -->
<!--Main layout-->

<app-Footer></app-Footer>