.product-card {
  width: 220px;
  height: 25em;
  border: 1px solid rgba(51, 51, 51, 0.192);
  cursor: pointer;
  position: relative;
}

.sale {
  position: relative;
  width: 90px;
  height: 28px;
  background-color: #34f0a8;
  font-size: 2.5ex;
  padding: 1.9px;
  text-transform: uppercase;
}

.tag-price {
  padding: 1px 1ex;
  font-size: large;
  font-weight: 500;
  color: #2dd896;
}

img {
  height: 11em;
}

.product-info {
  padding: 1ex 1.3ex;
}

.product-title {
  font-weight: 600;
  max-height: 50px;
  font-size: 1.3em;
  max-lines: 1;
  margin: 0;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  text-transform: capitalize;
  text-align: start;
}

.product-features {
  padding-left: 1px;
  margin: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.623);
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  text-transform: capitalize;
  text-align: start;
}

.rating {
  margin-top: -1ex;
}

.price {
  font-size: 1.3em;
  font-weight: 500;
  margin: 1ex 0;
  position: absolute;
  bottom: 0;
}

.hidden {
  color: transparent;
  background-color: transparent;
}
