<div class="product-card">
  <div class="d-flex justify-content-between">
    <div class="text-center sale d-inline-flex align-content-center justify-content-center" [class.hidden]="sale">
      <span>sale</span>
    </div>
    <p class="pt-1 pr-2 tag-price d-inline-block" [class.hidden]="sale">-{{discount}}%</p>
  </div>
  <div class="p-2 product-img-container justify-content-around align-content-center">
    <img src="{{image}}" class="img-fluid" alt="">
  </div>
  <div class="product-info">
    <div class="product-title">{{title}}</div>
    <div class="product-features">{{info}}</div>
    <div class="rating">
      <bar-rating [(rate)]="rate" [max]="5" [readOnly]="true"></bar-rating>
    </div>
    <div class="price">${{price}}</div>
  </div>
</div>
