<h1>Details</h1>
<hr>
<form [formGroup]="Editform" (ngSubmit)="OnSubmit()">
    <div class="form-holder ">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="fname" id="fname">
        <div *ngIf="Editform.get('fname')?.invalid && Editform.get('fname')?.touched">
            <small class="text-danger">First Name is
                required minimum 3 characters</small>
        </div>
    </div>
    <div class="form-holder">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lname" id="lname">
        <div *ngIf="Editform.get('lname')?.invalid && Editform.get('lname')?.touched">
            <small class="text-danger">Last Name is
                required minimum 3 characters</small>
        </div>
    </div>
    <div class="form-holder">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email">
        <div *ngIf="Editform.get('email')?.invalid && Editform.get('email')?.touched">
            <small class="text-danger">Email is required </small>
        </div>
    </div>
    <button type="submit">Save</button>
    <br>

</form>