*, *::before, *::after {
    box-sizing: border-box;
}
body {
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.card {
  margin: 3ex 2ex 3ex 3ex;
  padding-top: 1em;
} 
.btn {
  font-size: x-larger;
  background-color:#FEEE00;
  color: black;
  border-radius: 5rem;
  width: 14em;
  margin-top: 1ex;
}
a{
  color: #110d16cc;
  font-size: medium;
  text-decoration: none;
}
.menu-item:hover {
   background-color: #ededed;
}
.filter-label {
  font-weight: 500;
  font-size: larger;
}

.rate-bar {
  margin: -0.6em 1ex;
  cursor: pointer;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.card {
  width: 245px;
}

.mat-form-field {
  width: 45%;
}

.color-circle {
  border-radius: 5em;
  border: 0;
  padding: 1px;
  width: 25px;
  height: 25px;
  margin: 5px;
}

.color-circle:focus {
  outline: none;
  box-shadow: 0 0 0 5px #df654798;
}

.color-circle:active {
  outline: none;
  box-shadow: 0 0 0 5px #df654798;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: -8px 0px;
}
