.wrapper {
  margin: 2em;
}

.loader {
  margin: 10em 0;
}

.empty {
  margin: 10em;
}

.title {
  font-weight: 500;
  font-size: xx-large;
}

.btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #feee00;
  color: #333;
  position: fixed;
  z-index: 1;
}
