<section id="top-bar">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help Center</a>
    </li>
  </ul>
</section>

<section id="middle-bar">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand mr-md-4" href="#">Shopify</a>

    <!-- navbar menu in Small Screen -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <app-search class="d-block d-sm-none"></app-search>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

      <ul class="mt-2 ml-1 mr-2 mr-auto navbar-nav mt-lg-0 d-block d-sm-none">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="mr-1 fas fa-user"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="mr-1 fas fa-shopping-cart"></i> Cart</a>
        </li>
      </ul>
    </div>
    <!--end of navbar menu -->

    <!--Navbar controls-->
    <div id="navbar-controls" class="d-none d-md-flex justify-content-between w-100">
      <app-search class="flex-shrink-1"></app-search>
      <div id="login" class="ml-3 d-flex justify-content-center align-content-center">
        <button type="button" class="text-center btn login-btn float-md-right btn-sm">
          <span class="fas fa-user"></span>
        </button>
        <span class="p-1 ml-md-1 ml-lg-2" id="login-label">Login</span>
      </div>
      <app-side-cart class="ml-lg-5 ml-md-1 float-sm-right"></app-side-cart>
    </div>
    <!-- end of navbar Controls -->
  </nav>
</section>
<app-sub-navbar></app-sub-navbar>
