.card {
  margin: 3.5ex 3ex 4ex 3ex;
  padding-top: 1em;
}

.card-container-title {
  margin-bottom: 1.8ex;
  font-size: 2.4em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.788);
}

.view-all-btn {
  font-size: x-larger;
  background-color:#f68b1e;
  border-radius: 5rem;
  width: 14em;
  margin-top: 1ex;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto !important;
}
