<div class="wrapper d-flex flex-column">
  <app-shopping-cart-card *ngFor="let item of cartItem" [quan]="item.quantity" [cartid]="item.cartItemId"
    [id]="item.productId" [productName]="item.product.productName" [image]="item.product.productImages[0].image"
    [rate]="item.product.rate" [description]="item.product.description" [price]="item.totalPrice"
    (quantity)="updateBill(item.productId,$event)" (save)="Fav(item.productId)"
    (delete)="deleteFromCart(item.cartItemId)">
  </app-shopping-cart-card>
</div>

<!--! cannot start rendering something before i get it so use ng-if  with loading flag --->
