<div class="wrapper">
    <div class="inner">
        <form [formGroup]="form" (ngSubmit)="OnSubmit()">
            <h4>Password Assistance</h4>

            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fd8252"
                    class="bi bi-exclamation-circle" viewBox="0 0 19 16">

                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                </svg>
                Please enter the e-mail address associated with your Shopify account. We will send you a link to
                this
                e-mail address to
                reset your password
            </span>


            <div class="form-holder">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control" formControlName="Email" name="Email">
                <small *ngIf="form.get('Email')?.invalid && form.get('Email')?.touched" class="text-danger">E-mail is
                    required</small>

            </div>
            <button type="submit">Reset Password</button>

            <br>

            <div class="text-center">
                <a href="" style="padding-left: 10px;">
                    RETURN TO LOGIN </a></div>
            <br>
            <span *ngIf="flag==1">Please Check your Email .</span>
            <br>
        </form>
    </div>
</div>